[build]
  command   = "npm run build"
  publish   = "dist"

# Redirect all paths to index.html so clientâ€side router can handle them
[[redirects]]
  from   = "/*"
  to     = "/index.html"
  status = 200